<div style="padding-bottom:20px;">	<div class="legenda_tbl" style="padding-top:10px;">
		<span id="kode_skpd_click">Nama Organisasi</span>
	</div>
	<table id="tbl_sp2d_spj_tugu" class="display nowrap" cellspacing="0" width="100%">
		<thead>
			<tr>
	            <th width="20%">No. SPJ</th>
	            <th width="15%">Tanggal SPJ</th>
	            <th>Uraian SPJ</th>
	            <th width="15%">Jumlah</th>
	        </tr>
		</thead>
		<tbody>
			{% for dt in tabel %}
			<tr id="{{dt.nomor}}">
				<td align="left">{{dt.nospj}}</td>
				<td align="center">{{dt.tglspj}}</td>
				<td align="left">{{dt.keperluan}}</td>
				<td align="right">{{dt.jumlah}}
					<input type="hidden" id="src_data_{{dt.nomor}}" 
					value="{{dt.nospj}}|{{dt.tglspj}}|{{dt.nosp2d}}|{{dt.nolpj}}|{{dt.keperluan}}|{{dt.jenis}}">
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<style type="text/css">
	tbody tr:hover { cursor: pointer; }
	#kode_skpd_click { font-size: 12px;}
	#tbl_sp2d_spj_tugu { font-size: 12px; }
</style>

<script type="text/javascript">
	var tbl_sp2d_spj_tugu;

	$(document).ready(function(){
        tbl_sp2d_spj_tugu = $('#tbl_sp2d_spj_tugu').DataTable( {
            "bLengthChange": false, 
            scrollY:        242,
	        scrollX:        true,
	        scrollCollapse: true,
	        fixedHeader: true,
	        paging: false,
        });

        adjust_datatable();
        $("#kode_skpd_click").html($("#org_tampilkan").val());

        var count = tbl_sp2d_spj_tugu.rows().data().length;

        $('#tbl_sp2d_spj_tugu td').dblclick(function () {
        	if(count > 0){
        		var row = $(this).closest('tr');
        		var Num = row.attr('id'); 
				var ldt = $("#src_data_"+Num).val().split("|");

				isSimpan = false;
				$('input[name="aksi"]').val(isSimpan);
				$("#no_sp2d").val(ldt[2]);
				$("#no_sp2d_x").val(ldt[2]);
				$("#no_lpj_skpd").val(ldt[3]);
				$("#no_spj").val(ldt[0]);
				$("#no_spj_x").val(ldt[0]);
				$("#tgl_sp2d_spj").val(ldt[1]);
				$("#uraian_informasi").val(ldt[4]);
				load_tabel_lpj(ldt[5]);

				if('{{jenis}}' == 'GU'){
					pilih_kegiatan();
					Next_rekening_input_lpj_gu();
				}
				
        	}

        	$('#ReportModal').modal('hide');
		});

		$("#tbl_sp2d_spj_tugu  tr").click(function(){
            $('.selected').removeClass('selected');
            $(this).addClass('selected');
        });
    });
</script>