<div style="padding-bottom:20px;">	<div class="legenda_tbl" style="padding-top:10px;">
		<span id="kode_skpd_click">Nama Organisasi</span>
	</div>
	<table id="tbl_sp2d_lpj_tugu" class="display nowrap" cellspacing="0" width="100%">
		<thead>
			<tr>
	            <th width="20%">No. LPJ</th>
	            <th width="15%">Tanggal LPJ</th>
	            <th width="15%">No. SP2D</th>
	            <th>Uraian LPJ</th>
	            <th width="15%">Jumlah</th>
	        </tr>
		</thead>
		<tbody>
			{% for dt in tabel %}
			<tr>
				<td align="left">{{dt.nolpj}}</td>
				<td align="center">{{dt.tgllpj}}</td>
				<td align="left">{{dt.nosp2d}}</td>
				<td align="left">{{dt.urailpj}}</td>
				<td align="right">{{dt.jumlah}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<style type="text/css">
	tbody tr:hover { cursor: pointer; }
	#kode_skpd_click { font-size: 12px;}
	#tbl_sp2d_lpj_tugu { font-size: 12px; }
</style>

<script type="text/javascript">
	var tbl_sp2d_lpj_tugu;

	$(document).ready(function(){
        tbl_sp2d_lpj_tugu = $('#tbl_sp2d_lpj_tugu').DataTable( {
            "bLengthChange": false, 
            scrollY:        242,
	        scrollX:        true,
	        scrollCollapse: true,
	        fixedHeader: true,
	        paging: false,
        });

        adjust_datatable();
        $("#kode_skpd_click").html($("#org_tampilkan").val());

        var count = tbl_sp2d_lpj_tugu.rows().data().length;
        var KDLPJ, KDSP2D, URAIAN;

        $('#tbl_sp2d_lpj_tugu td').dblclick(function () {
        	if(count > 0){
        		var row = $(this).closest('tr'); 
				var $kdlpj    = row.find('td:nth-child(1)');
				var $kdsp2d   = row.find('td:nth-child(3)');
				var $uraian   = row.find('td:nth-child(4)');

				$.each($kdlpj, function(){ KDLPJ = $(this).text();});
				$.each($kdsp2d, function(){ KDSP2D = $(this).text();});  
				$.each($uraian, function(){ URAIAN = $(this).text();}); 

				clsfrm_input_lpj_gu_tu('{{jenis}}');

				if(isModal == "true") {
					$("#lapForm input[id=no_sp2d]").val(KDSP2D);
					$("#lapForm input[id=no_sp2d_x]").val(KDSP2D);
					$("#lapForm input[id=no_lpj_skpd]").val(KDLPJ);
					$("#lapForm textarea[id=uraian_informasi]").val(URAIAN);
					$("#lapForm #no_lpj_skpd").trigger("load");	
					pilih_kegiatan();			
				} else { 
					// $("#myForm input[id=no_sp2d]").val(KDSP2D);
					$("#myForm input[id=no_sp2d_x]").val(KDSP2D);
					$("#myForm input[id=no_lpj_skpd]").val(KDLPJ);
					$("#myForm input[id=no_lpj_skpd_x]").val(KDLPJ);
					pilih_load_data();
				}
        	}

        	$('#ReportModal').modal('hide');
		});

		$("#tbl_sp2d_lpj_tugu  tr").click(function(){
            $('.selected').removeClass('selected');
            $(this).addClass('selected');
        });
    });
</script>