{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
<div class="header-konten">
  <span style="font-weight:bold;">KASDA - Pencairan SP2D TA. {{tahun}}</span>
</div>
<div class="isi-konten">   
  <form class="form-horizontal" method="POST" id="myForm" name="myForm" 
    action="{% url 'sipkd:sp2d_barjas_simpan' jenis='upper' %}" autocomplete="off">
    {%csrf_token%}
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="form-group batas-bawah">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">No. Buku Kas</div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control input-sm" id="no_bukukas" name="no_bukukas" 
                placeholder="No. Buku Kas">
            {% if akses != 'OPERATORSKPD' %}
            <span class="input-group-addon baten" onclick="modal_searching(this,'list_transaksi_sp2d')"
                alt="{% url 'sipkd:list_transaksi_sp2d' %}" title="Cari Transaksi"><i class="fa fa-binoculars"></i>
            </span>
            <span onClick="window.location='{% url 'sipkd:pencairansp2d_index'%}'" class="input-group-addon baten_new" title="Transaksi Baru"
              style="cursor: pointer;">
              <i class="fa fa-plus-square"></i>&nbsp;&nbsp;Transaksi Baru
            </span>
            {% else %}
            <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
            {% endif %}
            <input type="hidden" name="aksi" id="aksi" value="ADD">
          </div>
        </div>
      </div>
      <div class="form-group batas-bawah">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Nomor SP2D</div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control input-sm" value=""
                placeholder="No. SP2D" id="no_sp2d" readonly name="no_sp2d" style="text-transform: uppercase;">
            <label class="input-group-addon baten" onclick="modal_searching(this,'list_kasda_sp2d')" for="no_sp2d"  id="src_spm" alt="{% url 'sipkd:list_kasda_sp2d' %}" style="cursor: pointer;">
              <i class="fa fa-search-plus"></i></label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 batas-atas">Tgl.SP2D</div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3">
          <div class="input-group">
            <input type="text" class="form-control input-sm tgl_sp2d" value="{{tgl_login}}" 
                  placeholder="Tanggal STS" id="tgl_sp2d" name="tgl_sp2d"
                  style=" text-align:center;" readonly="readonly">
            <label class="input-group-addon tgl_sp2d" for="tgl_sp2d"><i class="fa fa-calendar-o"></i></label>
          </div>
        </div>
      </div>  
      <div class="form-group batas-bawah">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Organisasi</div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
          <div class="input-group">
              <input type="text" class="form-control input-sm" readonly="readonly" disabled="disabled" 
                  id="org_tampilkan" placeholder="-- Pilih Organisasi --" value="">
              <input type="hidden" class="hidden" id="organisasi" name="organisasi" 
                  value="{{kd_org}}" alt="{{ur_org}}" onChange="">
              <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
              
          </div>
        </div>
      </div>
      <div class="form-group batas-bawah">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Sumber Dana</div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
          <select class="selek-style" id="sumber_dana" name="sumber_dana" 
            onchange="">
            {%for rk in sumberdana%}
            <option nore="{{rk.norekeningbank}}" value="{{rk.kodesumberdana}}">{{rk.norekeningbank}} - {{rk.urai}}</option>
            {%endfor%}
          </select> 
        </div>
      </div>
      <div class="form-group batas-bawah">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Tanggal Transaksi</div>
        <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
          <div class="input-group">
            <input type="text" class="form-control input-sm tgl_transaksi" value="{{tgl_login}}" 
                  placeholder="Tanggal Transaksi" id="tgl_transaksi" name="tgl_transaksi"
                  style="cursor: pointer; text-align:center;" readonly="readonly">
            <label class="input-group-addon baten tgl_transaksi" for="tgl_transaksi"
                  style="cursor: pointer;"><i class="fa fa-calendar-o"></i></label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 batas-atas" style="text-align:right">Jenis SP2D</div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3">
          <input type="hidden" name="jenis_sp2d" id="jenis_sp2d" value="">
          <div class="input-group">
            <label class="input-group-addon" id="UP"><strong>UP</strong></label>
            <label class="input-group-addon" id="GU"><strong>GU</strong></label>
            <label class="input-group-addon" id="TU"><strong>TU</strong></label>
            <label class="input-group-addon" id="LS"><strong>LS</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="form-group batas-bawah" style="padding-top:7px;">
        <div>Deskripsi</div>
        <textarea class="form-control" placeholder="Deskripsi" id="deskripsi"
          name="deskripsi" maxlength="5000" rows="6"></textarea>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 batas-atas">
      <table id='dataTable_potongan' class='display responsive' cellspacing='0' width='100%'>
        <thead>
          <tr>
            <th width='20%'>Kode Rekening</th>
            <th>Uraian Rekening</th>
            <th width='15%' class="sum">Penerimaan<br>(Rp.)</th>
            <th width='15%' class="sum">Pengeluaran<br>(Rp.)</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
          <tr>
            <th>&nbsp;</th>
            <th style='font-weight: bold;'>Jumlah</th> 
            <th style='font-weight: bold;' id='tot_penerimaan'></th>
            <th style='font-weight: bold;' id='tot_pengeluaran'></th>
          </tr>
        </tfoot>
      </table>
      <div style="padding-top:8px;">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-left:0px;">
          {{btn_simpan|safe}}
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          {{btn_hapus|safe}}
        </div>
      </div>
      <div id="url_modal_cut" alt="{% url 'sipkd:sp2d_gaji_mdl_cut' %}" style="padding-top:15px;"></div>
      <script type="text/javascript">
        var tables_pot,idPOTcol;
        var rowCount = 0;
        var clsSelek = 'no';
        var form_kasda = 'sp2d';
        var urlsimpan = "{% url 'sipkd:simpan_kasda_sp2d' %}";

        $(document).ready(function(){
          tables_pot = $('#dataTable_potongan').DataTable({
            scrollY: 200,
            paging: false,
            searching: false,
            bInfo: false,
            columnDefs: [],

            initComplete : function (settings, json){
                      this.api().columns('.sum').every(function(){
                          var column = this;
                          var jmlrow = column.data().count();

                          var intVal = function (i) { // FORMAT UANG KE NUMERIC DENGAN DECIMAL
                              var rep = '';
                              if(typeof i == 'string'){
                                  rep = i.replace(/[\$,.]/g, '');
                              } else if(typeof i == 'number'){
                                  rep = i;
                              } else {
                                  rep = 0;
                              }

                              return rep != undefined ? parseInt(rep,10) : 0;
                          };

                          if(jmlrow != 0){

                              var arrCol = column.data();
                              var arrhsl = [];
                              var arrInp = [];
                              var ada;

                              for (var i = 0; i < arrCol.length; i++) {
                                  arrhsl[i] = arrCol[i].split('\"');

                                  ada = arrhsl[0][0].search('input'); // CEK APAKAH ARRAY MENGANDUNG KATA 'input'
                                  if(ada <= -1){
                                      arrInp[i] = arrCol[i];
                                  } else {
                                      var x = $.inArray(" value=", arrhsl[i])+1; // CARI POSISI KEY ARRAY DENGAN VALUE ' 
                                      arrInp[i] = arrhsl[i][x];
                                  }
                              };

                              var sum = arrInp.reduce(function (a, b) { // MENJUMLAHKAN DATA DALAM ARRAY
                                 return intVal(a) + intVal(b);
                              });

                              if(jmlrow > 1){ total = toRp_Dec_SUM(sum); } else { total = sum; }

                          } else { total = '0,00'; }

                          $(column.footer()).html(total);
                      });
                  }
          });
              
          rowCount = $('#dataTable_potongan tr').length;
          adjust_datatable();

          $('#tgl_transaksi').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4",
          });
          // clearForm_BARJAS();
            autoNoBkuKas();
          });

        function load_rekening_sp2d(nomor,jenis, nosp2d_=''){
          $.ajax({
              type: "POST",
              headers: { "X-CSRFToken": csrf_token },
              url: "{% url 'sipkd:render_afektasi_sp2d' %}",
              data: {'skpd': $('#organisasi').val(),
                    'nomor':nomor,
                    'jenis':jenis,
                },
              dataType: "json",
              timeout: 10000,
              success: function(response){
                renderan_tabel = response['render_table'];
                arr = []
                tot_penerimaan_ = 0
                tot_pengeluaran_ = 0

                for (var i = 0; i < renderan_tabel.length; i++) {
                  arr.push([renderan_tabel[i][0], renderan_tabel[i][1], toRp_WithDecimal(renderan_tabel[i][2]), toRp_WithDecimal(renderan_tabel[i][3])])
                  tot_penerimaan_ = tot_penerimaan_ + parseFloat(renderan_tabel[i][2])
                  tot_pengeluaran_ = tot_pengeluaran_ + parseFloat(renderan_tabel[i][3])
                }

                var colpenerimaan = tables_pot.column(2);
                $(colpenerimaan.footer()).html(toRp_WithDecimal(tot_penerimaan_));

                var colpengeluaran = tables_pot.column(3);
                $(colpengeluaran.footer()).html(toRp_WithDecimal(tot_pengeluaran_));

                create_datatables('dataTable_potongan', arr, {2:{'text-align':'right'},3:{'text-align':'right'}});
              }
          });
        }

        function SaveSP2D(){
          var frm = $('#myForm') 
          if ($('#no_sp2d').val() == '') {
            message_ok('error', 'Nomor SP2D Tidak Boleh Kosong !');
            return false;
          }else{
            $.alertable.confirm('Anda Yakin ingin menyimpan transaksi?').then( function(){
              
              $.ajax({
                  type: "POST",
                  headers: { "X-CSRFToken": csrf_token },
                  url: urlsimpan,
                  data: frm.serialize(),
                  dataType: "json",
                  timeout: 10000,
                  success: function(response){
                    if (response['is_save']) {
                      caption = 'Simpan';
                    }else{
                      caption = 'Edit';
                    }
                    if (response['status']) {
                      message_ok('success', ''+caption+' Transaksi Sukses !');
                      location.reload();
                    }else{
                      message_ok('error', ''+caption+' Transaksi Gagal !');
                    }
                  },
                  error: function(response){
                    message_ok('error', 'Connection Error !');
                  }
              });

            },function() { 
                message_ok('error', 'Simpan transaksi dibatalkan!');
            });
          }
        }
        
        $('#btn_hapus').click(function(){
          $.alertable.confirm('Anda Yakin ingin menghapus transaksi dengan nomor \n '+$('#no_bukukas').val()+' ?').then(function () {      
           var frm = $('#myForm')     
            $.ajax({
              type: "POST",
              headers: { "X-CSRFToken": csrf_token },
              url: "{% url 'sipkd:del_transact' %}",            
              data: frm.serialize(),
              dataType:"json",            
              success: function(msg){
                
                if (msg['status']) {
                  message_ok('success', 'Hapus Transaksi Sukses !');
                  location.reload()
                }else{
                  message_ok('error', 'Hapus Transaksi Gagal !');
                }
              },
              error: function(response){
                message_ok('error', 'Connection Error !');
              }
            });

        },function() { 
          message_ok('error', 'Hapus transaksi dibatalkan!');
        });
        })
      </script>
    </div>
  </form>
</div>
<script src="{% static 'js/kasda/main.js' %}"></script>
{% endblock %}