{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
<div class="header-konten">
  <span style="font-weight:bold;">KASDA - Laporan Bendahara Umum Daerah (BUD) TA. {{tahun}}</span>
</div>
<div class="isi-konten">   
  <form class="form-horizontal" method="POST" id="frm_lapBUD" name="frm_lapBUD" 
    action="{% url 'sipkd:lap_bend_umum_index' %}" autocomplete="off">
    {%csrf_token%}
    <div class="col-sm-2 col-md-2 col-lg-3"></div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      <div class="panel panel-joel">
        <div class="panel-heading">
          <span>Cetak Laporan Bendahara Umum Daerah (BUD)</span>
        </div>
        <div class="panel-body">
          <div class="form-group form-group-small">
            <span class="col-xs-12 col-sm-2 col-md-2 col-lg-2 batas-atas">
              <strong>Jenis Laporan</strong></span>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <select class="selek-style cilikan drop-kecil" id="jns_laporan" 
                  name="jns_laporan" onChange="pil_jns_lapor()">
                  {% for dt in arrJnsLap %}
                    <option value="{{dt.ID}}">{{dt.label}}</option>
                  {% endfor %}
                </select>
            </div>
          </div>
          <div class="form-group batas-bawah">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <div class="radio">
                  <label><input type="radio" name="pil_tanggal" id="pil_tanggal1" value="pertgl" checked>
                    Pertanggal</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <div class="input-group">
                <input type="text" class="form-control input-kecil" value="{{tgl_login}}" 
                      placeholder="Tanggal SPD" id="periode_pertgl" name="periode_pertgl"
                      style="cursor: pointer;" readonly>
                <label class="input-group-addon addon-kecil periode_pertgl" for="periode_pertgl"
                style="cursor: pointer;"><i class="fa fa-calendar-o"></i></label>
              </div>
            </div>
          </div>
          <div class="form-group batas-bawah">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <div class="radio">
                  <label><input type="radio" name="pil_tanggal" id="pil_tanggal2" value="daritgl" >
                    Dari Tanggal</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <div class="input-group">
                <input type="text" class="form-control input-kecil" value="{{awal_tahun}}" 
                      placeholder="Tanggal SPD" id="periode_tglawal" name="periode_tglawal"
                      style="cursor: pointer;" readonly>
                <label class="input-group-addon addon-kecil periode_tglawal" for="periode_tglawal"
                style="cursor: pointer;"><i class="fa fa-calendar-o"></i></label>
              </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 batas-atas" style="text-align:center;">S/D</div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <div class="input-group">
                <input type="text" class="form-control input-kecil" value="{{akhir_tahun}}" 
                      placeholder="Tanggal SPD" id="periode_tglakhir" name="periode_tglakhir"
                      style="cursor: pointer;" readonly>
                <label class="input-group-addon addon-kecil periode_tglakhir" for="periode_tglakhir"
                style="cursor: pointer;"><i class="fa fa-calendar-o"></i></label>
              </div>
            </div>
          </div>
          <div class="form-group form-group-small" id="col_sumberdana" style="display:none;">
            <span class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">Sumber Dana</span>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <select class="selek-style cilikan drop-kecil" id="sumdana" name="sumdana">
                  <option value="0">-- Pilih Sumber Dana --</option>
                  {% for rk in dt_sumdan %}
                  <option value="{{rk.kodesumberdana}}|{{rk.norek}}">{{rk.rekening}}</option>
                  {% endfor %}
                </select>
            </div>
          </div>
          <div class="form-group form-group-small" id="col_periode" style="display:none;">
            <span class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">Periode</span>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <select class="selek-style cilikan drop-kecil" id="periode" name="periode">
                  {% for dt in arrBulanx %}
                    <option value="{{dt.ID}}|{{dt.label}}">{{dt.label}}</option>
                  {% endfor %}
                </select>
            </div>
          </div>
          <div class="form-group form-group-small">
            <div class="lap_pejabat"><strong>Pejabat Pengesah Laporan</strong></div>
            <span class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">Pejabat</span>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <select class="selek-style cilikan drop-kecil" 
                  id="pejabat_pengesah" name="pejabat_pengesah" onChange="eChangePejabat_lap(this.value)">
                  {% for dt in ls_data %}
                    <option value="{{dt.id}}|{{dt.nama}}|{{dt.nip}}|{{dt.pangkat}}">{{dt.jabatan1}}</option>
                  {% endfor %}
                </select>
                <input type="hidden" id="id_pejabat" name="id_pejabat">
            </div>
          </div>
          <div class="form-group form-group-small">
            <span for="nama_otorisasi" class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">Nama</span>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <input type="text" class="form-control input-sm input-kecil" readonly="readonly"
                        id="nama_pejabat" name="nama_pejabat">
            </div>
          </div>
          <div class="form-group batas-bawah">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">NIP</div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <input type="text" class="form-control input-kecil" placeholder="NIP Pejabat"
                    data-inputmask="'mask': '99999999 999999 9 999'" maxlength="21"
                  id="nip_pejabat" name="nip_pejabat" value="" readonly>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <input type="text" class="form-control input-kecil" placeholder="Pangkat Pejabat"
                  id="pangkat_pejabat" name="pangkat_pejabat" value="" readonly>
                </div>
            </div>
            <div class="form-group batas-bawah" id="batas-bawah" style="padding-bottom:0px;">
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 batas-atas">&nbsp;</div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <div class="garis-bawah"></div>
                <div onclick="cetakLaporanBUD()" class="btn btn-sm btn-warning"
                  title="Cetak Laporan" id="cetak_laporan">
                    <strong><i class="fa fa-print"></i>&nbsp;&nbsp;CETAK</strong>
                </div>
                <a href="">
                  <div class="btn btn-sm btn-danger">
                    <strong><i class="fa fa-undo"></i>&nbsp;&nbsp;BATAL</strong>
                  </div>
                </a>
                </div>
            </div>

        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-3"></div>
  </form>
</div>
<script type="text/javascript">
  var frm_lap   = $('#frm_lapBUD');

  $(document).ready(function(){
    eChangePejabat_lap($("#pejabat_pengesah").val());

    $(frm_lap).find('#periode_pertgl').daterangepicker({
      singleDatePicker: true,
      calender_style: "picker_4",
    });

    $(frm_lap).find('#periode_tglawal').daterangepicker({
      singleDatePicker: true,
      calender_style: "picker_4",
    });

    $(frm_lap).find('#periode_tglakhir').daterangepicker({
      singleDatePicker: true,
      calender_style: "picker_4",
    });

    $('input[name="pil_tanggal"]:checked').trigger('change');
    pil_jns_lapor();
  });

</script>
<script src="{% static 'js/kasda/laporan.js' %}"></script>
{% endblock %}