<table id='dataTable_afektasi' class='display responsive' cellspacing='0' width='100%'>
  <thead>
    <tr>
      <th>Nomor</th>
      <th width='20%'>Kode Rekening</th>
      <th>Uraian Rekening</th>
      <th width='15%' class="sum">Penerimaan<br>(Rp.)</th>
      <th width='15%' class="sum">Pengeluaran<br>(Rp.)</th>
      <th width='5%'>Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for dt in list_dt %}
    <tr>
      <td>{{dt.nomor}}</td>
      <td align="left">
        <div class="input-group">
                <input type="text" class="input-dlm-tabel" value="{{dt.koderekening}}"
                  id="cut_kdrek_{{dt.nomor}}" name="cut_kdrek"
                  readonly="readonly" placeholder="Kode Rekening">
                <span class="input-group-btn">
                <span onclick="mdl_afektasi_sts({{dt.nomor}})"
                  class="btn btn-sm btn-primary btn_dlm_tabel" title="Lihat Data">
                  <i class="fa fa-binoculars"></i>
                </span>
            </span>
              </div>
      </td>
      <td align="left">
        <span id="uraipot_{{dt.nomor}}">{{dt.uraian}}</span>
      </td>
      <td align="right">
        <input class='input-dlm-tabel jmlPenerimaan arrJmlPenerimaan[]' id='jml_Penerimaan_{{dt.nomor}}'
          name='jml_Penerimaan' type='text' value='{{dt.jumlahpenerimaan}}'
          onkeydown='return isNumberKey(event)' style='text-align:right; width:100%;'
          onfocus="OnFokus_potgj(this)" onblur="OnBlur_potgj(this)">
      </td>
      <td align="right">
          <input class='input-dlm-tabel jmlPengeluaran arrJmlPengeluaran[]' id='jml_Pengeluaran_{{dt.nomor}}'
          name='jml_Pengeluaran' type='text' value='{{dt.jumlahpengeluaran}}'
          onkeydown='return isNumberKey(event)' style='text-align:right; width:100%;'
          onfocus="OnFokus_potgj(this)" onblur="OnBlur_keluar(this)">
      </td>
      <td align="center">
                <div style='text-align:center;'>
                    <button type='button' onclick="pilih_saya(this,{{dt.nomor}})" class='btn btn-danger btn-xs' title="Hapus Data"><i class='fa fa-trash'></i></button>
                </div>
            </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>&nbsp;</th><th>&nbsp;</th>
      <th style='font-weight: bold;'>Jumlah</th> 
      <th style='font-weight: bold;'></th>
      <th style='font-weight: bold;'></th>
      <th style='font-weight: bold;'></th>
    </tr>
  </tfoot>
</table>
<script type="text/javascript">
  var tables_pot,idPOTcol;
  var rowCount = 0;
  var clsSelek = 'no';

  $(document).ready(function(){
    tables_pot = $('#dataTable_afektasi').DataTable({
      scrollY: 200,
      paging: false,
      searching: false,
      bInfo: false,
      columnDefs: [{className: 'hidden', 'targets':[0], 'searchable': false}],

      initComplete : function (settings, json){
                this.api().columns('.sum').every(function(){
                    var column = this;
                    var jmlrow = column.data().count();

                    var intVal = function (i) { // FORMAT UANG KE NUMERIC DENGAN DECIMAL
                        var rep = '';
                        if(typeof i == 'string'){
                            rep = i.replace(/[\$,.]/g, '');
                        } else if(typeof i == 'number'){
                            rep = i;
                        } else {
                            rep = 0;
                        }

                        return rep != undefined ? parseInt(rep,10) : 0;
                    };

                    if(jmlrow != 0){

                        var arrCol = column.data();
                        var arrhsl = [];
                        var arrInp = [];
                        var ada;

                        for (var i = 0; i < arrCol.length; i++) {
                            arrhsl[i] = arrCol[i].split('\"');

                            ada = arrhsl[0][0].search('input'); // CEK APAKAH ARRAY MENGANDUNG KATA 'input'
                            if(ada <= -1){
                                arrInp[i] = arrCol[i];
                            } else {
                                var x = $.inArray(" value=", arrhsl[i])+1; // CARI POSISI KEY ARRAY DENGAN VALUE ' 
                                arrInp[i] = arrhsl[i][x];
                            }
                        };

                        var sum = arrInp.reduce(function (a, b) { // MENJUMLAHKAN DATA DALAM ARRAY
                           return intVal(a) + intVal(b);
                        });

                        if(jmlrow > 1){ total = toRp_Dec_SUM(sum); } else { total = sum; }

                    } else { total = '0,00'; }

                    $(column.footer()).html(total);
                });
            }
    });
        
    resetSelek();
    rowCount = $('#dataTable_afektasi tr').length;
    addRow();
    adjust_datatable();
  });
    
  function OnFokus_potgj(e){
      $(e).val(toAngkaDec($(e).val()));
  }

  function OnBlur_potgj(e){
    $(e).val(toRp_WithDecimal($(e).val()));
    getTotalCols();
  }

  function OnBlur_keluar(e){
    $(e).val(toRp_WithDecimal($(e).val()));
    getTotalKeluar();
  }

  function getTotalCols(){
      var totPOT  = 0;
      var arrPOT  = document.getElementsByClassName('arrJmlPenerimaan[]'); // ambil data array berdasarkan class
      var jnPOT   = [];
      
      if(arrPOT.length != 0){
          for (var i = 0; i < arrPOT.length; i++) {
              jnPOT.push(toAngkaDec(arrPOT[i].value)); }; 
          totPOT  = eval(jnPOT.join("+"));
      } else { totPOT = '0.00'; }

      var colPOT = tables_pot.column(3);
      $(colPOT.footer()).html(toRp_WithDecimal(totPOT));
  }

  function getTotalKeluar(){
      var totPOT  = 0;
      var arrPOT  = document.getElementsByClassName('arrJmlPengeluaran[]'); // ambil data array berdasarkan class
      var jnPOT   = [];
      
      if(arrPOT.length != 0){
          for (var i = 0; i < arrPOT.length; i++) {
              jnPOT.push(toAngkaDec(arrPOT[i].value)); }; 
          totPOT  = eval(jnPOT.join("+"));
      } else { totPOT = '0.00'; }

      var colPOT = tables_pot.column(4);
      $(colPOT.footer()).html(toRp_WithDecimal(totPOT));
  }

  function mdl_afektasi_sts(aidi){
    $("#url_modal_afektasi").attr("rowid",aidi);
    modal_KASDA($("#url_modal_afektasi"),"kasda_mdl_afektasi");
  }

  function addRow(){
    tables_pot.row.add([
      rowCount,
      "<div class='input-group'><input type='text' class='input-dlm-tabel' id='cut_kdrek_"+rowCount+"'name='cut_kdrek' readonly='readonly' placeholder='Kode Rekening'><span class='input-group-btn'><span onclick='mdl_afektasi_sts("+rowCount+")' class='btn btn-sm btn-primary btn_dlm_tabel' title='Lihat Data'><i class='fa fa-binoculars'></i></span></span></div>",
      "<span id='uraipot_"+rowCount+"'></span>",
      "<input class='input-dlm-tabel jmlPenerimaan arrJmlPenerimaan[]' id='jml_Penerimaan_"+rowCount+"' name='jml_Penerimaan' type='text' value='0,00' onkeydown='return isNumberKey(event)' style='text-align:right; width:100%;' onfocus='OnFokus_potgj(this)' onblur='OnBlur_potgj(this)'>",
      "<input class='input-dlm-tabel jmlPengeluaran arrJmlPengeluaran[]' id='jml_Pengeluaran_"+rowCount+"' name='jml_Pengeluaran' type='text' value='0,00' onkeydown='return isNumberKey(event)' style='text-align:right; width:100%;' onfocus='OnFokus_potgj(this)' onblur='OnBlur_keluar(this)'>",
      "<div style='text-align:center;'><button type='button' onclick='pilih_saya(this,"+rowCount+")' class='btn btn-danger btn-xs' title='Hapus Data'><i class='fa fa-trash'></i></button></div>",
    ]).draw( false );

    rowCount++;
  }
 
  function pilih_saya(e,nomer){
      $('.selected').removeClass('selected');
      var tr          = $(e).closest("tr");
          tr.attr('class','selected');
      var Kls         = tr.attr('class');
      var arKl        = Kls.split(" ");
          clsSelek    = arKl[0];
      var codrek      = $("#cut_kdrek_"+nomer).val();

      if(codrek ==''){
          $.alertable.alert("Kode Rekening masih kosong !"); return false;
      } else {
          DeleteRow();
      }
  }

  function DeleteRow(){
      $.alertable.confirm('Anda yakin akan menghapus data rekening?').then(function() {
          // HAPUS ROW DENGAN CLASS SELECTED
          tables_pot.row('.selected').remove().draw( false );
      }, function() {
          message_ok('error', 'Hapus data rekening dibatalkan!');
          resetSelek();
      });
  }

  function resetSelek(){
      // RESET TABLE
      $('.selected').removeClass('selected');
      clsSelek = 'no';
  }
</script>