{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
<div class="header-konten">
   	<span style="font-weight:bold;">Daftar Penerbitan SKP / SKR</span>
</div>
<div class="isi-konten" id="konten_sp2d" style="padding-bottom: 0px;">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="input-group">
                <span class="input-group-addon" style="font-size:12px;"><b>Organisasi</b></span>
                <input type="text" class="form-control input-sm" readonly="readonly" disabled="disabled" 
                    id="org_tampilkan" placeholder="-- Pilih Organisasi --" value="{{organisasi}}">
                <input type="hidden" class="hidden" id="organisasi" name="organisasi" 
                    value="{{kd_org}}" alt="{{ur_org}}" onChange="skrskp_get_tabel_awal()">
                {% if hakakses not in bukan_admin %}
                <span class="input-group-addon btn btn-primary" onclick="modal_searching(this,'list_org')"
                    alt="{% url 'sipkd:mdl_organisasi' %}" title="Cari Organisasi"><i class="fa fa-binoculars"></i>
                </span>
                {% else %}
                <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cls_mefet">
            <label class="radio-inline">
                <input type="radio" value="0" name="rdjns_skpskr" checked>Semua Jenis</label>
            <label class="radio-inline">
                <input type="radio" value="1" name="rdjns_skpskr">SKP (Surat Ketetapan Pajak)</label>
            <label class="radio-inline">
                <input type="radio" value="2" name="rdjns_skpskr">SKR (Surat Ketetapan Retribusi)</label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 10px;">
        <div id="tabel_skr_skp" alt="{% url 'sipkd:skpskr_get_tbl_awal' %}"></div>
        <span class="hidden" id="lap_jenis"></span>
        <span class="hidden" id="lap_masa"></span>
        <span class="hidden" id="lap_nomor"></span>
        <div style="padding-top:10px;">
            <div class="col-xs-1" style="padding-left:0px;">{{btn_tambah|safe}}</div>
            <div class="col-xs-1">{{btn_edit|safe}}</div>
            <div class="col-xs-1">
                <div class="btn btn-sm btn-danger" style="width:100%;" title="Hapus Data" id="btn_hapus"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Hapus</div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Modalskpskr" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-skpskr">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title" id="ModalskpskrLabel"></h5>
          </div>
          <div class="modal-body modal-body-skpskr"></div>
        </div>
        </div>
    </div>

    <style type="text/css">
        .cls_mefet{ margin-top: 8px; margin-bottom: -20px; padding-left: 6px; z-index: 100; position: top;}
        .radio-inline{ font-weight: bold; }
        input[type="radio"] {
            cursor: pointer;
            box-shadow: 0 0 0 0.10em #1A82C3;
        }
        input[type="radio"]:checked{
            background: #fff;
            box-shadow: 0 0 0 0.15em #C9302C;
        }
        tbody tr:hover { cursor: pointer; }
        .bat-as {padding-top: 3px;}
    </style>
    <script type="text/javascript">
        var form_spjskpd = "spjskpd_skpskr"
        var link_frm_lap = "{% url 'sipkd:skpskr_frm_lap' %}";

        $(document).ready(function () {
            skrskp_get_tabel_awal();
        });
    </script>
</div>
<script src="{% static 'js/spjskpd/spjskpd_joel.js' %}"></script>
{% endblock %}