<form class="form-horizontal" id="lapForm" name="lapForm" method="POST" action="{% url 'sipkd:sp2b_frm_lap' %}"  autocomplete="off">
{% csrf_token %}
	<div class="form-group form-group-small">
		<span for="no_sp2d_lap" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label">Nomor SP2B</span>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		  	<input type="text" class="form-control input-sm input-kecil"
                id="no_sp2d_lap" name="no_sp2d_lap" readonly="readonly">
		</div>
		<input type="hidden" id="id_skpd" name="id_skpd">
	</div>
	<div class="form-group form-group-small">
		<span class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label">Tanggal SP2B</span>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		  	<div class="input-group">
        		<input type="text" class="form-control input-sm input-kecil" value="{{tglsekarang}}" 
                	id="tgl_sp2d_lap" name="tgl_sp2d_lap"  
                	readonly="readonly" style="cursor: pointer; text-align:center;">
			  	<label class="input-group-addon addon-kecil" for="tgl_sp2d_lap"
			  		style="cursor: pointer;"><i class="fa fa-calendar-o"></i></label>
        	</div>
		</div>
	</div>
	<div class="form-group form-group-small">
		<span class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label">Pejabat Pengesah SP2B</span>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		  	<select class="selek-style cilikan drop-kecil" 
		  		id="pejabat_pengesah" name="pejabat_pengesah" onChange="eChangePejabat_lap(this.value)">
		  		{% for dt in ls_data %}
		  			<option value="{{dt.id}}|{{dt.nama}}|{{dt.nip}}|{{dt.pangkat}}">{{dt.jabatan1}}</option>
		  		{% endfor %}
		  	</select>
		  	<input type="hidden" id="id_pejabat" name="id_pejabat">
		  	<input type="hidden" id="lap_sumberdana" name="lap_sumberdana">
		</div>
	</div>
	<div class="form-group form-group-small">
		<span for="nama_otorisasi" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label">Nama</span>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		  	<input type="text" class="form-control input-sm input-kecil" readonly="readonly"
                id="nama_pejabat" name="nama_pejabat">
		</div>
	</div>
	<div class="form-group form-group-small">
		<span for="nip_pejabat" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label">NIP</span>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		  	<input type="text" class="form-control input-sm input-kecil" readonly="readonly" 
		        id="nip_pejabat" name="nip_pejabat" 
		        data-inputmask="'mask': '99999999 999999 9 999'" maxlength="21">
		</div>
	</div>
	<div class="form-group form-group-small">
		<span for="pangkat_pejabat" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label">Pangkat</span>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<input type="text" class="form-control input-sm input-kecil" readonly="readonly"
				id="pangkat_pejabat" name="pangkat_pejabat">
		</div>
	</div>

	<div class="form-group form-group-small" style="padding-top:10px;">
		<div class="col-sm-offset-3 col-sm-9">
		  	<button type="button" class="btn btn-danger"
		  		onclick="cetakLapSP2D()"><i class="fa fa-print"></i>&nbsp;Cetak</button>
		  	<button type="reset" class="btn btn-danger" data-dismiss="modal">
		  		<i class="fa fa-arrow-left"></i>&nbsp;Batal</button>
		</div>
	</div>
</form>
<script type="text/javascript">
	var frm  = $('#lapForm');

	$(document).ready(function(){ 
		eChangePejabat_lap($("#pejabat_pengesah").val());

        $(frm).find('#tgl_sp2d_lap').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4",
        });

        $("#no_sp2d_lap").val($("#no_sp2b_x").val());
        $("#tgl_sp2d_lap").val($("#tgl_sp2b").val());
        $("#id_skpd").val($("#organisasi").val());
        $("#lap_sumberdana").val($('input[name="nm_sumberdana"]').val());
	});

	function eChangePejabat_lap(e){
    	var pelyu = e.split("|");
    	$("#id_pejabat").val(pelyu[0]);
    	$("#nama_pejabat").val(pelyu[1]);
    	$("#nip_pejabat").val(pelyu[2]); 
    	$("#pangkat_pejabat").val(pelyu[3]);
    }

    function cetakLapSP2D(){

    	$.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            async: false,
            timeout: 10000,
            success: function(res){
                ShowIframeReport(res, "Laporan SP2B TA. "+Thn_log);
            }
        });
    }

</script>