{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
<div class="header-konten">
    <span style="font-weight:bold;">Daftar Persetujuan SPM SKPD</span>
</div>
<div class="isi-konten" style="padding-bottom: 0px !important">
    <form class="form-horizontal" method="POST" id="myForm" name="myForm" action="">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group batas-bawah">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Organisasi</div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                    <div class="input-group">                    
                        {{persetujuan_spm|safe}} 
                    </div>                      
                    <input id="url_tabel" type="hidden" style="display:none;" value="{% url 'sipkd:listpersetujuan_spm' %}">
                </div>
            </div>          
        </div>
        <div id="table_persetujuan_spm"></div>     
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function(){       
        $('#kd_org2').val('');

        var Cookie = getCookie("persetujuanSPM");
        var skpdCK;
        if(Cookie != ""){
            skpdCK = Cookie;
        } else { skpdCK = '0.0.0.0'; }        
        $('#kd_org2').children('option[value="'+ skpdCK +'"]').attr('selected', true);        

        {% if hakakses == 'OPERATORSKPD' %}
            LoadData_Persetujuan_SPM($("#kd_org2").val());
        {% else %}
            LoadData_Persetujuan_SPM(skpdCK);
        {% endif %}

    });
</script>
<script src="{% static 'js/spm/spm.js' %}"></script>
{% endblock %}