{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
<div class="header-konten">
    <span style="font-weight:bold;">Setting Bendahara Pembantu TA. {{tahun}}</span>
</div>
<div class="isi-konten">   
  <form action="" method="POST" id="myForm" name="myForm" autocomplete="off">
    {% csrf_token %}
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" style="margin-bottom:-15px; z-index:4; position: top;">    
    <div class="form-group batas-bawah">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="padding-left: 10px; z-index:4; position: top;">
        <div class="input-group">
          <span class="input-group-addon judul-addon" class="tidakada"><b>Organisasi</b></span>
          <input type="text" class="form-control input-sm" readonly="readonly" disabled="disabled"  id="org_tampilkan" placeholder="-- Pilih Organisasi --" value="{{organisasi}}" class="tidakada">
          <input type="hidden" class="hidden" id="organisasi" name="organisasi" value="{{kd_org}}" alt="{{ur_org}}" onChange="org_bendahara_change(this.value)">
          {% if hakakses != 'OPERATORSKPD' %}
          <span class="input-group-addon btn btn-primary" onclick="modal_searching(this,'list_org')" alt="{% url 'sipkd:mdl_organisasi' %}" title="Cari Organisasi" class="tidakada"><i class="fa fa-binoculars"></i>
          </span>
          {% else %}
          <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
          {% endif %}
        </div>
          <input id="url_tabel" type="hidden" style="display:none;" value="{% url 'sipkd:getbendahara' %}">
      </div>
    </div>
  </div>
  
    <div style="padding: 15px !important;">
      <div id="table-bendahara-pembantu"></div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 batas-atas" style="text-align:center;">
      <div class="input-group">                 
        <input type="hidden" name="btnTambah" id="btnTambah" onclick="showModal(this,'bendahara_pembantu')">
        <span class="input-group-btn">
          <div onclick="cekOrganisasi()" style="margin-right:5px;" class="btn btn-primary btn-sm" title="Tambah Data">
              <i class="fa fa-plus-square"></i>&nbsp;&nbsp;TAMBAH
          </div>
        </span>
        </div>
    </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function(){

        var Cookie = getCookie("BendaharaPembantu");
        var userCK;
        if(Cookie != ""){
            userCK = Cookie;
        } else { userCK = '0.0.0.0'; }        
        $('#organisasi').children('option[value="'+ userCK +'"]').attr('selected', true);        

        {% if hakakses == 'OPERATORSKPD' %}
            org_bendahara_change($("#organisasi").val());
        {% else %}
            org_bendahara_change(userCK);
        {% endif %}

    });

    function cekOrganisasi(){
      var organisasi = $("#organisasi").val();
      $("#btnTambah").attr('alt',"{% url 'sipkd:modal_bendahara' %}?act=add&org="+organisasi);

      if(organisasi == '0'){
        $.alertable.alert('Organisasi belum dipilih!');
      }else{
        $("#btnTambah").trigger( "click" ); 
      }
    }

    function org_bendahara_change(val){        
      var urls     = $("#url_tabel").val();
      var Cookie   = getCookie("BendaharaPembantu"); 
      $.ajax({
          type: "GET",
          url: urls,
          data: {id:val},
          async: false,
          dataType: "html",
          timeout: 10000,
          beforeSend: function() {
            $(".cover").show();
          },
          success: function(response){            
            $('#table-bendahara-pembantu').html(response);
            $(".cover").hide();
          }
      });

      if(Cookie != ''){
        removeCookie("BendaharaPembantu");
      }
    }

</script>
{% endblock %}