{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
<div class="header-konten">
    <span style="font-weight:bold;">Setting Rekening Pencairan SKPD TA. {{tahun}}</span>
</div>
<div class="isi-konten">
    <form action="" method="POST" id="myForm" name="myForm" autocomplete="off">
        {% csrf_token %}
        <div style="padding: 15px !important;">
            <table id="tb_pencairan" class="display responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="1%">NO URUT</th>
                        <th width="1%">KODE SUMBERDANA</th>
                        <th width="40%">URAIAN</th>                     
                        <th width="20%">NOMOR REKENING</th>
                        <th width="20%">NAMA BANK</th>
                        <th width="10%">AKSI</th>
                    </tr>
                </thead>
                <tbody>
                {% for hs in hasil %}
                <tr>
                    <td align="center">{{hs.urut}}</td>
                    <td align="center">{{hs.kodesumberdana}}</td>
                    <td align="left">{{hs.urai}}</td>
                    <td align="left">{{hs.rekening}}</td>
                    <td align="left">{{hs.bank}}</td>
                    <td style="text-align: center;">
                        <div onclick="showModal(this,'rekpencairan')" style="margin-right:5px;"
                            alt="{% url 'sipkd:loadmodal_rekpen' %}?act=edit&id={{hs.urut}}"
                            class="btn btn-info btn-sm" title="Ubah Data">
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                        {% if hs.pakai == 0 %}  
                        <a class= "btn btn-danger btn-sm" style="margin-right:5px;"
                        onclick="deleteRekPen('{{hs.urut}}','{{hs.kodesumberdana}}','{{hs.rekening}}','{{hs.bank}}');" title="Hapus Data"><i class="fa fa-trash"></i>
                        </a>  
                        {% endif %}
                    </td>
                </tr>
                 {% endfor %}
                </tbody>
            </table>
            <span style="font-size: 12px;">
                <i>* Nomer Rekening yang sudah digunakan SP2D, tidak dapat dihapus.</i></span>
            <div class="modal fade" id="modal-pencairan" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-pencairan-div">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title" id="modal-pencairanaLabel"></h5>
                </div>
                <div class="modal-body " style="height: 90vh;overflow-y: auto;"></div>
                </div>
                </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 batas-atas"
                 style="text-align:center; margin-bottom:15px;">
                <div class="input-group">
                <span class="input-group-btn">                    
                    <div onclick="showModal(this,'rekpencairan')" style="margin-right:5px;"
                         class="btn btn-primary btn-sm" title="Tambah Data" alt="{% url 'sipkd:loadmodal_rekpen' %}?act=add"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;TAMBAH
                    </div>
                </span>
                </div>
            </div> -->
            <div style="padding: 15px !important;">
                <input type="hidden" id="urlGetpencairan" value="{% url 'sipkd:combopencairanskpd' %}">
                <div id="tabel-pejabat-skpd"></div>
        
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 batas-atas" style="text-align:center; margin-bottom:15px;">
                    <div class="input-group">              
                      <input type="hidden" name="btnTambah" id="btnTambah"  onclick="modal_input_pencairan(this,'pencairan_modal')" >               
                        <span class="input-group-btn">
                            <div onclick="cekOrganisasi()" style="margin-right:5px;"
                                class="btn btn-primary btn-sm" title="Tambah Data">
                                <i class="fa fa-plus-square"></i>&nbsp;&nbsp;TAMBAH
                            </div>
                            <!-- <span onclick="savePejabatSKPD()" style="margin-right:5px;"
                                class="btn btn-success btn-sm" title="Simpan Data">
                                <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;SIMPAN
                            </span>
                            <div onclick="hapusRow()" style="margin-right:5px;"
                                class="btn btn-danger btn-sm" title="Hapus Data">
                                <i class="fa fa-trash"></i>&nbsp;&nbsp;HAPUS
                            </div> -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var rowCount = $("#tb_pencairan tr").length;
    var link     = $("#urlGetJbtn").val();
    var selected;
    var RowIndek = -1;
    var clsSelek = 'no';
    var table;
    var total_sp2d = $("#total").val();

    $(document).ready(function(){
        table = $('#tb_pencairan').DataTable( {
            // "bLengthChange": false,
            "scrollY": 315,
            "paging": false,            
            // "searching": true,
            "columnDefs": [{className: "hidden", "targets":[0], "searchable": true}],
        });

        $(":input").inputmask();

        $("#tb_pencairan  tr").click(function(){
            $('.selected').removeClass('selected');
            $(this).addClass('selected');

            var tr          = $(this).closest("tr");
                RowIndek    = tr.index();

            var Kls         = tr.attr('class');
            var arKl        = Kls.split(" ");
                clsSelek    = arKl[1];
        });
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %} 
                    message_ok('success', '{{ message}}' );
                {% elif message.tags == 'error' or message.tags == 'warning' %}
                    message_ok('error', '{{ message}}' );
                {% endif %}
            {% endfor %}
        {% endif %}
    });

    function deleteRekPen(urut, kodesumberdana, rekening, bank){
        $.alertable.confirm("Anda yakin akan menghapus rekening : "+rekening+" dengan nama "+bank+" ?").
            then(function() {            
            $.ajax({
                    type: "POST",
                    headers: { "X-CSRFToken": csrf_token },
                    url: "{% url 'sipkd:hapus_rekpen' %}",
                    data: {         
                      'urut':urut,
                      'kode':kodesumberdana,
                      'rekening':rekening,                 
                    },
                    dataType: 'html',
                    success: function (data) {                   
                        message_ok("success",data);
                        location.reload();
                    }
                }); 
            }, function() {
                message_ok('error', 'Anda telah membatalkan penghapusan data.');          
        });
    }
    
</script>

<script type="text/javascript">
    //  const link_modal_pejabat = "{% url 'sipkd:pejabat_modal' %}";
    $(document).ready(function(){

        var Cookie = getCookie("pejabatSKPD");
        var skpdCK;
        if(Cookie != ""){
            skpdCK = Cookie;
        } else { skpdCK = '0.0.0.0'; }        
        $('#organisasi').children('option[value="'+ skpdCK +'"]').attr('selected', true);        

        {% if hakakses == 'OPERATORSKPD' %}
            org_skpd_change($("#organisasi").val());
        {% else %}
            org_skpd_change(skpdCK);
        {% endif %}

    });

    function cekOrganisasi(){
    //   console.log('ciky');
      var organisasi = $("#organisasi").val();

      $("#btnTambah").attr('alt',"{% url 'sipkd:loadmodal_rekpen' %}?act=add&org="+organisasi);
 
     
      if(organisasi == '0'){
        $.alertable.alert('Organisasi belum dipilih!');
      }else{
        $("#btnTambah").trigger( "click" ); 
        
      }

      
    }
function modal_input_pencairan(e,modal){ 
  var url_load  = "";
  var loadModal = "";
 
  var linkLoad  = $(e).attr('alt');

  switch(modal) { 
    case 'pencairan_modal':
     
   
      loadModal = "Form Pencairan SKPD ";         
      url_load  = linkLoad;
      break;

  } 
  // document.getElementById("myModalLabel").innerHTML = loadModal;
  // $("#showModal").modal();
  // $(".modal-body-showmodal").load(url_load);
  // $(".modal-dialog").css('width', widthnya);

  $("#modal-pencairanLabel").html(loadModal);
 
  // $("#mdl_show_sumdan .modal-title").html(loadModal);
  $("#modal-pencairan").modal();  
  $("#modal-pencairan .modal-body").load(url_load);
  $("#modal-pencairan .modal-dialog").css('width', '900px');

}

    function org_skpd_change(val){        
      var urls     = $("#url_tabel").val();
      var Cookie   = getCookie("pencairanSKPD"); 
      $.ajax({
          type: "GET",
          url: urls,
          data: {id:val},
          async: false,
          dataType: "html",
          timeout: 10000,
          beforeSend: function() {
            $(".cover").show();
          },
          success: function(response){  
          // console.log(response);          
            $('#tabel-pencairan-skpd').html(response);
            $(".cover").hide();
          }
      });

      if(Cookie != ''){
        removeCookie("pencairanSKPD");
      }
    }
   
</script>

{% endblock %}
