<style type="text/css">
	#datakegiatan_bkp span { color: blue; cursor: pointer;}
</style>
<table id='datakegiatan_bkp' class='display responsive nowrap' cellspacing='0' width='100%'>
	<thead>
		<tr>
			<th style='background-image:none;' width='2%'>Pilih</th>
			<th>Unit</th>
			<th>Kode Kegiatan</th>
			<th>Kegiatan</th>
			<th>Sumberdana</th>
			<th class="sum">Pagu</th>
			<th class="sum">SP2D LS</th>
			<th class="sum">PSPJ UP/GU</th>
			<th class="sum">PSPJ TU</th>
			<th class="sum">Sisa</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for rs in add_kegiatan %}
		<tr>
			<td align='center'>
				<input type='checkbox' class='daftarkegiatan' name='daftarkegiatan'
					value="{{rs.nomor}}|{{rs.koderekening}}|{{rs.pagu}}|{{rs.sp2dls}}|{{rs.sp2dupgu}}|{{rs.sp2dtu}}|{{rs.sp2dsisa}}|{{rs.kodeunit}}" {% if rs.pilih == 1 %} checked="checked" {% endif %} />
			</td>
			<td>{{rs.kodeunit}} - {{rs.skpd}}</td>
			<td>{{rs.koderekening}}</td>
			<td>{{rs.namakegiatan}}</td>
			<td align='center'>
				<span onclick="lihat_sumdan(this)" title="Lihat Sumberdana" alt="{{rs.sumberdana}}">
					<b>{{rs.jumsumdan}}</b> Sumberdana<br>[ <i class='fa fa-search'></i>&nbsp;Lihat ]
				</span>
			</td>
			<td align='right'>{{rs.pagu}}</td>
			<td align='right'>{{rs.sp2dls}}</td>
			<td align='right'>{{rs.sp2dupgu}}</td>
			<td align='right'>{{rs.sp2dtu}}</td>
			<td align='right'>{{rs.sp2dsisa}}</td>
			<td>{{rs.kodebidang}}</td>
			<td>{{rs.kodeprogram}}</td>
			<td>{{rs.kodekegiatan}}</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th style='font-weight: bold;'>Jumlah</th>
			<th style='font-weight: bold;'>0,00</th>
			<th style='font-weight: bold;'>0,00</th>
			<th style='font-weight: bold;'>0,00</th>
			<th style='font-weight: bold;'>0,00</th>
			<th style='font-weight: bold;'>0,00</th>
		</tr>
	</tfoot>
</table>

<script type='text/javascript'> 
	$(document).ready(function () {		
        var table = $('#datakegiatan_bkp').DataTable({
			scrollY: 220,
			paging: false,
			searching: true,
			bInfo: false,
			"columnDefs": [{className: "hidden", "targets":[9,10,11,12], "searchable": false}],
            initComplete : function (settings, json){
                this.api().columns('.sum').every(function(){
                    var column = this;
                    var jmlrow = column.data().count();

                    var intVal = function (i) { // FORMAT UANG KE NUMERIC DENGAN DECIMAL
                        var rep = '';
                        if(typeof i == 'string'){
                            rep = i.replace(/[\$,.]/g, '');
                        } else if(typeof i == 'number'){
                            rep = i;
                        } else {
                            rep = 0;
                        }

                        return rep != undefined ? parseInt(rep,10) : 0;
                    };

                    if(jmlrow != 0){

                        var arrCol = column.data();
                        var arrhsl = [];
                        var arrInp = [];
                        var ada;

                        for (var i = 0; i < arrCol.length; i++) {
                            arrhsl[i] = arrCol[i].split('\"');

                            ada = arrhsl[0][0].search('input'); // CEK APAKAH ARRAY MENGANDUNG KATA 'input'
                            if(ada <= -1){
                                arrInp[i] = arrCol[i];
                            } else {
                                var x = $.inArray(" value=", arrhsl[i])+1; // CARI POSISI KEY ARRAY DENGAN VALUE ' value='
                                arrInp[i] = arrhsl[i][x];

                            }
                        };

                        var sum = arrInp.reduce(function (a, b) { // MENJUMLAHKAN DATA DALAM ARRAY
                           return intVal(a) + intVal(b);
                        });
                        // var api = this.api(),data;
                        
                        if(jmlrow > 1){ total = toRp_Dec_SUM(sum); } else { total = sum; }

                    } else { total = '0,00'; }                    

                    $(column.footer()).html(total);   
                });
            }
		});  

    });

	function lihat_sumdan(e){
		var datax = $(e).attr('alt');
		var hasil = '';

		if(datax != ""){
			var data = $(e).attr('alt').split('|');
			for (var i = 0; i < data.length; i++) {
				var sumdan = data[i].split('=');

				hasil +='<tr><td>'+sumdan[0]+'</td><td>'+sumdan[1]+'</td><td>Rp. </td><td align="right">'+toRp_WithDecimal(sumdan[2])+'</td></tr>';
			};
		} else { hasil = '<tr><td>Sumberdana Belum Terklarifikasi.</td></tr>'; }

		var tabel = '<table style=\'font-size:14px;\' width=\'100%\'>'+hasil+'</table>';

		$('#mdl_show_sumdan').modal('show');
		$('#mdl_show_sumdan .modal-body').html(tabel);
      	$("#mdl_show_sumdan .modal-dialog").css('width', '60%');
	};

</script>