<table id="tbl_bast" class="display responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th width="1%">No.</th>
            <th width="1%">Pilih</th>
            <th width="15%">No BAST</th>
            <th width="15%">No Kontrak</th>
            <th width="10%">Tanggal Mulai</th>
            <th width="10%">Tanggal Berakhir</th>
            <th>Uraian</th>
            <th width="12%" class="sum">Jumlah</th>
        </tr>
    </thead>
    <tbody>
        {% for dat in arrTabel %}
        <tr>
            <td align="center">{{dat.nomer}}</td>
            <td align="center">
                <input type="checkbox" class="chk_data" name="chk_data"
                value="{{dat.nobast}}|{{dat.tglmulai}}"/>
            </td>
            <td align="left">{{dat.nobast}}</td>
            <td align="left">{{dat.nokontrak}}</td>
            <td align="center">{{dat.tglmulai}}</td>
            <td align="center">{{dat.tglselesai}}</td>
            <td align="left">{{dat.deskripsipekerjaan}}</td>
            <td align="right">{{dat.jumlahbast}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Jumlah</th>
            <th></th>
        </tr>
    </tfoot>
</table>
<span class="hidden" id="check_bast_edit"></span>
<span class="hidden" id="check_bast"></span>

<script type="text/javascript">
    var frm_aksi            = "{% url 'sipkd:simpan_bast' jenis='lower' %}"
    var arrCHK              = [];
    var arrPIL              = [];

    $(document).ready(function(){
        tbl_bast = $('#tbl_bast').DataTable({
            destroy: true,
            bLengthChange: false, 
            scrollY: "320px",
            scrollX: true,
            fixedHeader: true,
            paging: false,
            bInfo: true,
            searching:true,
            columnDefs: [{className: 'hidden', 'targets':[0], 'searchable': false}],

            initComplete : function (settings, json){
                this.api().columns('.sum').every(function(){
                    var column = this;
                    var jmlrow = column.data().count();

                    var intVal = function (i) { // FORMAT UANG KE NUMERIC DENGAN DECIMAL
                        var rep = '';
                        if(typeof i == 'string'){
                            rep = i.replace(/[\$,.]/g, '');
                        } else if(typeof i == 'number'){
                            rep = i;
                        } else {
                            rep = 0;
                        }

                        return rep != undefined ? parseInt(rep,10) : 0;
                    };

                    if(jmlrow != 0){

                        var arrCol = column.data();
                        var arrhsl = [];
                        var arrInp = [];
                        var ada;

                        for (var i = 0; i < arrCol.length; i++) {
                            arrhsl[i] = arrCol[i].split('\"');

                            ada = arrhsl[0][0].search('input'); // CEK APAKAH ARRAY MENGANDUNG KATA 'input'
                            if(ada <= -1){
                                arrInp[i] = arrCol[i];
                            } else {
                                var x = $.inArray(" value=", arrhsl[i])+1; // CARI POSISI KEY ARRAY DENGAN VALUE ' 
                                arrInp[i] = arrhsl[i][x];
                            }
                        };

                        var sum = arrInp.reduce(function (a, b) { // MENJUMLAHKAN DATA DALAM ARRAY
                           return intVal(a) + intVal(b);
                        });

                        if(jmlrow > 1){ total = toRp_Dec_SUM(sum); } else { total = sum; }

                    } else { total = '0,00'; }

                    $(column.footer()).html(total);
                });
            }

        });

        adjust_datatable();
        $('input[type="checkbox"]').attr('checked',false);
        $('#modal-bast').on('shown.bs.modal', function(e){ adjust_datatable() });
    });

    $(".chk_data").click(function(){
        var ceked = $(this).is(":checked");
        var hasil = $(this).val();
        if(ceked){ 
            arrPIL.push(hasil.split('|')[0])
            arrCHK.push(hasil); 
        } else { 
            arrPIL = arrPIL.filter(function(value) { return value !=  hasil.split('|')[0]}) 
            arrCHK = arrCHK.filter(function(value) { return value !=  hasil}) 
        }
        var kode_x = "";
        if(arrCHK.length > 0){
            for (var i = 0; i < arrCHK.length; i++) {
                kode_x += ",'"+arrCHK[i].split("|")[0]+"'";
            };
        } $("#check_bast").html(kode_x.substr(1));
    });

</script>