{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
<div class="header-konten">
   	<span style="font-weight:bold;">Surat Perintah Pencairan Dana - Ganti Uang Persediaan (<span id="judul_form">SP2D - GU</span>)</span>
</div>
<div class="isi-konten">
	<form class="form-horizontal" method="POST" id="myForm" name="myForm" autocomplete="off">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Organisasi</div>
	            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
	            	<div class="input-group">
	            		{{organisasi|safe}}
	            	</div>
	                <input type="hidden" name="aksi" id="aksi">
	            </div>
	        </div>
			<div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">No. SP2D</div>
	            <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
	            	<div class="input-group">
	            		<input type="text" class="form-control input-sm" value="" maxlength="100"
	                    	placeholder="No. SP2D" id="no_sp2d" name="no_sp2d" style="text-transform: uppercase;">
	                    <input type="hidden" id="where_nosp2d" name="where_nosp2d" value="">
		            	<span class="input-group-addon" id="kunci_sp2d">(DRAFT)</span>
	            	</div>
	            	<input type="hidden" name="no_sp2d_x" id="no_sp2d_x">
	            </div>
	            <div class="col-xs-12 col-sm-9 col-md-4 col-lg-4">
	            	<div class="input-group">
	            		<input type="text" class="form-control input-sm" value="{{tglsekarang}}"
	                    	placeholder="Tanggal SP2D" id="tgl_sp2d" name="tgl_sp2d"
	                    	style="cursor: pointer;" readonly="readonly">
					  	<label class="input-group-addon" for="tgl_sp2d"
					  		style="cursor: pointer;"><i class="fa fa-calendar-o"></i></label>
	            	</div>
	            </div>
	        </div>
	        <!-- <div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Jumlah SP2D</div>
	            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            		<input type="text" class="form-control input-sm" maxlength="100"
                    	id="jumlah_sp2d" name="jumlah_sp2d" style="text-align:right;"
                    	onkeypress="" value=""
                    	onfocus="" onblur="">
	            </div>
	        </div> -->
	        <div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">No. SPM</div>
	            <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
		            <div class="input-group">
	            		<input type="text" class="form-control input-sm" value=""
	                    	placeholder="Nomor SPM" id="no_spm" name="no_spm" style="text-transform: uppercase;">
	                    	<div class="input-group-btn">
	                    		{{btn_lihat_spm|safe}}
	                    	</div>
	            	</div>
	            	<input type="hidden" class="hidden" id="no_spm_x" name="no_spm_x">
	            	<span class="hidden" id="url_cekspm" alt=""></span>
	            </div>
	            <div class="col-xs-12 col-sm-9 col-md-4 col-lg-4">
	            	<div class="input-group">
	            		<input type="text" class="form-control input-sm" value="{{tglsekarang}}"
	                    	placeholder="Tanggal SPM" id="tgl_spm" name="tgl_spm"
	                    	style="cursor: pointer;" readonly="readonly">
					  	<label class="input-group-addon" for="tgl_spm"
					  		style="cursor: pointer;"><i class="fa fa-calendar-o"></i></label>
	            	</div>
	            </div>
	        </div>
	        <div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Keperluan</div>
	            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
	                <textarea class="form-control" placeholder="Status Keperluan" id="status_keperluan"
	                name="status_keperluan" maxlength="5000" rows="4"></textarea>
	            </div>
	        </div>

		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:5px;">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            		{{btn_lihat_sp2d|safe}}
            	</div>
            	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            		{{btn_tambah_sp2d|safe}}	
            	</div>
			</div>

	        <div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Bank Asal</div>
	            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
	            	<input type="text" class="form-control input-sm" value=""
	            		placeholder="Bank Asal" id="bank_asal" name="bank_asal" disabled="disabled">
	            </div>
	        </div>
	        <div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">No.Rekening</div>
	            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
	            	<select class="selek-style" id="norek_bankasal" name="norek_bankasal"
	            		onchange="">
	            		{%for no_rek in rekening%}
	            			<option value="{{no_rek.rekening}}">{{no_rek.rekening}}</option>
	            		{%endfor%}
	            	</select>
	            </div>
	        </div>
	        <div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2" style="font-size:11,5px;">Bendahara/Pihak Ketiga</div>
	            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
		            <div class="input-group">
	            		<input type="text" class="form-control input-sm" value=""
	                    	placeholder="Bendahara Pengeluaran / Pihak Ketiga" id="bendahara" name="bendahara">
					  	<label class="input-group-addon baten" for="bendahara" id="cari_bendahara" 
					  		style="cursor: pointer;"><i class="fa fa-search-plus"></i></label>
	            	</div>
	            </div>
	        </div>
	        <div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">No. Rekening</div>
	            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
	            	<input type="text" class="form-control input-sm" value=""
	            		placeholder="No. Rekening Bendahara Pengeluaran / Pihak Ketiga"
	            		id="norek_bendahara" name="norek_bendahara" >
	            </div>
	        </div>
	        <div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Bank</div>
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
	            	<input type="text" class="form-control input-sm" value=""
	            		placeholder="Nama Bank" id="bank_bendahara" name="bank_bendahara" >
	            </div>
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">NPWP</div>
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
	            	<input type="text" class="form-control input-sm" value=""
	            		data-inputmask="'mask': '99.999.999.9-999.999'" maxlength="20"
	                    placeholder="NPWP Bendahara" id="npwp_bendahara" name="npwp_bendahara" >
	            </div>
	        </div>
	        <div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Jenis Anggaran</div>
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
	            	<select class="form-control" id="jns_anggaran">
	            		<option value="0">Sebelum Perubahan</option>
	            		<option value="1">Sesudah Perubahan</option>
	            	</select>
	            </div>
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Triwulan</div>
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
	            	<select class="form-control" id="frm_triwull">
	            		<option value="0">-- PILIH --</option>
	            		<option value="1">Triwulan I</option>
	            		<option value="2">Triwulan II</option>
	            		<option value="3">Triwulan III</option>
	            		<option value="4">Triwulan IV</option>
	            	</select>
	            </div>
	        </div>

	        <div class="form-group batas-bawah" style="padding-top:15px;">
	            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	            	<div class="garis-bawah"></div>
	            	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
	            		{{btn_simpan|safe}}	
	            	</div>
	            	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
	            		{{btn_cetak|safe}}	
	            	</div>
	            	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
	            		{{btn_hapus|safe}}
	            	</div>
			    </div>
	        </div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 batas-atas" style="padding-bottom: 6%;">
			<div class="form-group batas-bawah" id="tabel_konten">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 batas-atas">
                    <div id="tbl_otorisasi">
                        <span class="judul-tabel">DAFTAR KEGIATAN</span>
                            <table id="tabelnya" class="display responsive nowrap select_tabel" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th style="background-image:none;" width="2%">
                                            <!-- <input type="checkbox" onClick="cek_uncek_all(this, 'chk_oto', var_page)"/> -->
                                            Pilih
                                        </th>
                                        <th width="9%">Kegiatan</th>
                                        <th width="39%">Uraian</th>
                                        <th width="10%">Anggaran</th>
                                        <th width="10%">Batas SP2D</th>
                                        <th width="10%">SP2D Lalu</th>
                                        <th width="10%">SP2D Sekarang</th>
                                        <th width="10%">Jumlah SP2D</th>
                                        <th width="10%">Sisa Anggaran</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="3">Jumlah</th>
                                        <th>0,00</th>
                                        <th>0,00</th>
                                        <th>0,00</th>
                                        <th>0,00</th>
                                        <th>0,00</th>
                                        <th>0,00</th>
                                    </tr>
                                </tfoot>
                            </table>
                    </div>
                </div>
            </div>
            <div class="form-group batas-bawah" id="batas-bawah" style="padding-bottom:10px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="garis-bawah"></div>
                    <!-- <div class="input-group"> -->
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            {{btn_prev|safe}}  
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            {{btn_next|safe}}    
                        </div>                        
                    <!-- </div> -->
                </div>
            </div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 batas-atas" style="padding-bottom: 6%;">
			<div style="border: 1px solid #838589; padding:5px;">
				<table width="100%" style="font-weight: bold;">
					<tr>
						<td width="15%">Jumlah Yang Dibayarkan</td>
						<td width="1%" align="center">:</td>
						<td width="89%">Rp. <span id="jml_sp2d">0,00</span></td>
					</tr>
					<tr>
						<td width="15%">Terbilang</td>
						<td width="1%" align="center">:</td>
						<td width="89%">
							<span id="sp2d_terbilang" style="font-style: italic; width:100%;">Nol Rupiah</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	var link_ambilKegiatan = "{% url 'sipkd:link_ambilKegiatan' %}";
	var link_ambilKegiatan_spm = "{% url 'sipkd:link_ambilKegiatan_spm' %}";
	var link_ambilsp2d = "{% url 'sipkd:link_ambilsp2d' %}";
	var link_ambilspm = "{% url 'sipkd:link_ambilspm' %}";
	var link_ambilBank = "{% url 'sipkd:link_ambilBank' %}";
	var link_ambilRekening = "{% url 'sipkd:link_ambilRekening' %}";
	var link_ambilSumberDanaAwal = "{% url 'sipkd:link_ambilSumberDanaAwal' %}";
	var link_render_cetak_sp2dgu_tu_nihil = "{% url 'sipkd:link_render_cetak_sp2dgu_tu_nihil' %}";
	var cetak_sp2dgu_tu_nihil = "{% url 'sipkd:cetak_sp2dgu_tu_nihil' %}";
	var link_simpan_gu = "{% url 'sipkd:link_simpan_gutugunihil' "gu" %}";
	var link_hapus_gu = "{% url 'sipkd:link_hapus_gutugunihil' %}";
	var akses = "{{hakakses}}";
	var perubahan = "{{perubahan}}";
</script>

<script src="{% static 'js/sp2d/gu.js' %}"></script>
<!-- /datepicker -->
{% endblock %}