{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
<div class="header-konten">
   	<span style="font-weight:bold;">Permohonan Surat Perintah Pembayaran TU (SPP-TU)</span>
</div>
<div class="isi-konten">
	<form class="form-horizontal" method="POST" id="frmSPP" name="frmSPP" action="{% url 'sipkd:mohon_spptu_simpan' %}">
		<input name="aksi" type="hidden" id="aksi">	
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Organisasi</div>
	            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
            		<div class="input-group">   
            			<input type="hidden" name="isppkd" id="isppkd" value="0">
            			<input type="hidden" name="jenis" id="jenis" value="tu">
						<input type="hidden" name="total_spp" id="total_spp" value="0">
						<input type="hidden" name="kode_unit" id="kode_unit" value="">
						<input type="hidden" name="kode_bidang" id="kode_bidang" value="">
						<input type="hidden" name="kd_program" id="kd_program" value="">
						<input type="hidden" name="kd_kegiatan" id="kd_kegiatan" value="">
						<input type="hidden" name="kd_subkegiatan" id="kd_subkegiatan" value="">
						<input type="hidden" name="kodekegiatanfull" id="kodekegiatanfull" value="">
						<input type="hidden" name="urai" id="urai" value="">
						<input type="hidden" name="no_skpd" id="no_skpd" value="">
						<input type="hidden" name="asal_form" id="asal_form" value="tu_mohon">
						<!-- <input type="hidden" name="kode_program" id="kode_program" value="">
						<input type="hidden" name="kode_kegiatan" id="kode_kegiatan" value="">
						<input type="hidden" name="kode_subkegiatan" id="kode_subkegiatan" value=""> -->

	                    <input type="text" class="form-control input-sm" readonly="readonly" disabled="disabled" 
	                        id="org_tampilkan" placeholder="-- Pilih Organisasi --" value="{{organisasi}}">
	                    <input type="hidden" class="hidden" id="organisasi" name="organisasi" 
	                        value="{{kd_org}}" alt="{{ur_org}}" onChange="org_skpd_change(this.value)">
	                    {% if hakakses != 'OPERATORSKPD' %}
	                    <span class="input-group-addon btn btn-prfimary" onclick="modal_searching(this,'list_org')"
	                        alt="{% url 'sipkd:mdl_organisasi' %}" title="Cari Organisasi"><i class="fa fa-binoculars"></i>
	                    </span>
	                    {% else %}
	                    <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
	                    {% endif %}
	                </div>
	                <input id="url_tabel" type="hidden" style="display:none;" value="{% url 'sipkd:getsppupskpd' %}">
	            </div>
	        </div>
	        <div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">No. SPP</div>
	            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
	            	<div class="input-group">
	            		<input type="text" class="form-control input-sm uppercase" value="" maxlength="100"
	                    	placeholder="No. SPP" id="no_spp" name="no_spp">
		            	<span class="input-group-addon" id="kunci_spd">(DRAFT)</span>
		            	<input name="no_spp_lama" type="hidden" id="no_spp_lama">
		            </div>
	            </div>	           
	        </div>
	        <div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Tgl. SPP</div>
	            <div class="col-xs-12 col-sm-9 col-md-4 col-lg-4">
	            	<div class="input-group">
	            		<input type="text" class="form-control input-sm" value="{{tgl_login}}" 
	                    	placeholder="Tanggal SPP" id="tanggal_spp" name="tanggal_spp"
	                    	style="cursor: pointer;" readonly="readonly">
					  	<label class="input-group-addon" for="tanggal_spp"
					  		style="cursor: pointer;"><i class="fa fa-calendar-o"></i></label>
	            	</div>
	            </div>
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Tgl. Pelaksanaan</div>
	            <div class="col-xs-12 col-sm-9 col-md-4 col-lg-4">
	            	<div class="input-group">
	            		<input type="text" class="form-control input-sm" value="{{tgl_login}}" 
	                    	placeholder="Tanggal Pelaksanaan" id="tanggal_pelaksanaan" name="tanggal_pelaksanaan"
	                    	style="cursor: pointer;" readonly="readonly">
					  	<label class="input-group-addon" for="tanggal_pelaksanaan"
					  		style="cursor: pointer;"><i class="fa fa-calendar-o"></i></label>
	            	</div>
	            </div>

			</div>
	        <div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas"></div>
	            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
	            	<div class="judul_tabel">Kegiatan</div>
		            <div class="adah-tabel" style="margin-bottom:5px;">
		            	<table id='datakegiatan' class='display responsive nowrap' cellspacing='0' width='100%'>
							<thead>
								<tr>
									<th width="20%">Kode Kegiatan</th>
									<th>Uraian Kegiatan</th>
									<th width="5%">Aksi</th>
								</tr>
							</thead>
							<tbody>													
							</tbody>
						</table>
		            </div>
		            <div class="text-right mb-3">
		            	<button class="btn btn-md btn-info" id="btn_tambah_kegiatan" alt="{% url 'sipkd:loadkegiatan' %}"><i class="fa fa-plus"></i> Tambah Kegiatan</button>
		            </div>
	            	<!-- <div class="input-group">
	            		<div class="input-group-btn">
	            			<input type="text" class="input-sm input-kode" readonly id="kode_unit" name="kode_unit">
	            			<input type="text" class="input-sm input-kode" readonly id="kode_bidang" name="kode_bidang">
	            			<input type="text" class="input-sm input-kode" readonly id="kode_program" name="kode_program">
	            			<input type="text" class="input-sm input-kode" readonly id="kode_kegiatan" name="kode_kegiatan">
	            			<input type="text" class="input-sm input-kode" readonly id="kode_subkegiatan" name="kode_subkegiatan">
	            		</div>
	            		<input type="text" class="form-control input-sm" value="" 
	                    	placeholder="Kegiatan" id="urai_kegiatan" name="urai_kegiatan" readonly>
					  	<label class="input-group-addon baten" for="urai_kegiatan"
					  		onclick="LoadKegiatanSPP(this)" alt="{% url 'sipkd:loadkegiatan' %}"
					  		style="cursor: pointer;"><i class="fa fa-search-plus"></i></label>
	            	</div> -->
	            </div>
	        </div>

	        <div class="form-group batas-bawah">
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Sumberdana</div>
				<div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
					<div class="input-group">
						<input type="text" class="form-control input-sm" value="" readonly="readonly"
							placeholder="Sumberdana" id="sumberdana" name="sumberdana" 
							style="text-transform: uppercase;">
						<input type="hidden" class="input-sm input-kode" readonly
							id="kode_sumberdana" name="kode_sumberdana">
						<label class="input-group-addon baten" for="sumberdana"
							onclick="LoadSumberdanaKontrak(this)" alt="{% url 'sipkd:load_sumberdana_kontrak' %}"
							style="cursor: pointer;"><i class="fa fa-search-plus"></i></label>
					</div>
				</div>
			</div>
	         
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	        <div class="form-group batas-bawah">
	            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	            	<div style="padding-bottom:5px;">
			        	<span onclick="loadSPPTU_mohon(this)" alt="{% url 'sipkd:mohon_spptu_load' jenis='tu_mohon' %}" class="btn btn-sm btn-primary" title="Lihat Data">
			            	<i class="fa fa-search"></i>&nbsp;&nbsp;LIHAT PERMOHONAN SPP
			        	</span>
			        	<span onclick="clearFormSPP_PPKD(this)" class="btn btn-sm btn-success" title="Tambah Data">
			            	<i class="fa fa-plus-square"></i>&nbsp;&nbsp;SPP BARU
			        	</span>
				    </div>

				    <div class="form-group batas-bawah">
			            <div class="col-xs-12 batas-atas" style="padding-bottom:0px;">
			            	<div class="judul_tabel" style="height:29px; padding-top:5px;">Data Bendahara</div>
			            </div>
			        </div>
			        <div class="form-group batas-bawah">
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Bendahara</div>
			            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
			            	<div class="input-group">
			            		<input type="text" class="form-control input-sm" value="" 
			                    	placeholder="Bendahara" id="bendahara" name="bendahara">
							  	<label class="input-group-addon baten" for="bendahara"
							  		onclick="LoadBedaharaSPP_UP(this)" alt="{% url 'sipkd:loadbendahara' %}"
							  		style="cursor: pointer;"><i class="fa fa-search-plus"></i></label>
			            	</div>
			            </div>
			        </div>
			        <div class="form-group batas-bawah">
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">No. Rekening</div>
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
			            	<input type="text" class="form-control input-sm" value="" 
			                    placeholder="NOREK Bendahara" id="norek_bendahara" name="norek_bendahara" maxlength="100">
			            </div>
			        	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Nama Bank</div>
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
			            	<input type="text" class="form-control input-sm" value="" 
			                    placeholder="Nama Bank Bendahara" id="nama_bank" name="nama_bank" maxlength="100">
			            </div>
			        </div>
			        <div class="form-group batas-bawah">
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Pemilik Rekening</div>
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
			            	<input type="text" class="form-control input-sm" value="" 
			                    placeholder="Nama Pemilik Rekening Bendahara" id="nama_rekening_bank" 
			                    name="nama_rekening_bank" maxlength="100">
			            </div>
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">NPWP</div>
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
			            	<input type="text" class="form-control input-sm" value="" 
			            		data-inputmask="'mask': '99.999.999.9-999.999'" maxlength="20"
			                    placeholder="NPWP Bendahara" id="npwp_bendahara" name="npwp_bendahara">
			            </div>
			        </div>
			        <div class="form-group batas-bawah hidden">
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Jenis DPA</div>
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
				            <select class="selek-style" id="jenis_dpa" name="jenis_dpa" alt="{% url 'sipkd:cektanggaldpa' %}"
			            		onChange="jenisDPAOnChange(this.value)"> 
			            		<option value="0">-- JENIS DPA --</option>		                
				                <option value="DPA-SKPD">DPA-SKPD</option>
				                <option value="DPPA-SKPD">DPPA-SKPD</option>
				            </select>
			            </div>
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Nomor DPA</div>
			            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-4">
			            	<input type="text" class="form-control input-sm" value="" readonly
			                    placeholder="Nomor DPA" id="nomor_dpa" name="nomor_dpa" maxlength="100">
			            </div>
			        </div>
			        <div class="form-group batas-bawah hidden">
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Tanggal DPA</div>
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
			            	<div class="input-group">
			            		<input type="text" class="form-control input-sm" value="" 
			                    	placeholder="Tanggal DPA" id="tanggal_dpa" name="tanggal_dpa"
			                    	style="cursor: pointer;" readonly>
							  	<label class="input-group-addon" for="tanggal_dpa"
							  		style="cursor: pointer;"><i class="fa fa-calendar-o"></i></label>
			            	</div>
			            </div>
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Pelaksanaan</div>
			            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-4">
			            	<input type="text" class="form-control input-sm" value="" 
			                    placeholder="Pelaksanaan" id="pelaksanaan" name="pelaksanaan" maxlength="100">
			            </div>
			        </div>
			        <div class="form-group batas-bawah">
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Perubahan</div>
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
			            	<input type="hidden" name="st_perubahan" id="st_perubahan" value="">
			            	<select class="selek-style" id="perubahan" name="perubahan" disabled
			            		onChange="">
			            		<option value="0">Sebelum Perubahan</option>
				                <option value="1">Setelah Perubahan</option>
				            </select>
			            </div>
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Triwulan</div>
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
			            	<input type="hidden" name="st_triwulan" id="st_triwulan" value="">
			            	<select class="selek-style" id="triwulan" name="triwulan" disabled
			            		onChange="">
			            		<option value="1">Triwulan I</option>
				                <option value="2">Triwulan II</option>
				                <option value="3">Triwulan III</option>
				                <option value="4">Triwulan IV</option>
				            </select>
			            </div>
			        </div>
			        <div class="form-group batas-bawah">
			            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Status Keperluan</div>
			            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
			                <textarea class="form-control" placeholder="Status Keperluan" id="status_keperluan" name="status_keperluan" maxlength="5000"></textarea>
			            </div>
			        </div>
			        <div class="garis-bawah"></div>
			        <div class="form-group batas-bawah">	            
			            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">	            	
			            	<div onclick="SaveSPPTU_mohon('{% url 'sipkd:ceknomerspp' %}')" class="btn btn-md btn-primary"
			            		id="btn_simpan" title="Simpan Data">
					            <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;SIMPAN
					        </div>
					        <div onclick="cekLaporanSPP(this)"
					        	class="btn btn-md btn-warning" title="Lihat Data" id="btn_cetak">
					            <i class="fa fa-print"></i>&nbsp;&nbsp;CETAK
					        </div>
					        <input type="hidden" name="deletespptu_p" id="deletespptu_p" value="{% url 'sipkd:mohon_spptu_delete' %}">
				        <div onclick="deleteSPP_TUP()" class="btn btn-md btn-danger"
				        	title="Hapus Data" id="btn_hapus">
				            <i class="fa fa-trash-o"></i>&nbsp;&nbsp;HAPUS
				        </div>
			            </div>
			        </div>

				    <!-- <div class="form-group batas-bawah hidden">
				    	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Jenis Pengadaan</div>
				        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
				        	<select class="selek-style" id="jenis_pengadaan" name="jenis_pengadaan"
				        		onChange="changeJns_pengadaan()">
				                {% for dt in pengadaan %}
				                <option value="{{dt.id}}">{{dt.uraian}}</option>
								{% endfor %}
				            </select>
						</div>
					</div>
				    <div class="form-group batas-bawah hidden">
			            <div class="col-xs-12 batas-atas" style="padding-bottom:0px;">
			            	<div class="judul_tabel" style="height:29px; padding-top:5px;">Data Pihak Ketiga</div>
			            </div>
			            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			        	<div class="form-group batas-bawah">
			        		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Perusahaan</div>
				            <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
				            	<div class="input-group">
				            		<input type="text" class="form-control input-sm" value="" 
				                    	placeholder="Nama Perusahaan" id="nama_perusahaan" name="nama_perusahaan" maxlength="200">
				                    <div class="input-group-addon baten" for="nama_perusahaan" id="baten_perusahaan"
								  		onclick="LoadPerusahaan_LSBARJAS(this)" alt="{% url 'sipkd:loadpihakketiga' %}"
								  		style="cursor: pointer;"><i class="fa fa-search-plus"></i></div>
				            	</div>
				            </div>
				            <div class="col-xs-12 col-sm-9 col-md-4 col-lg-4">
				            	<select class="selek-style" id="bentuk_perusahaan" name="bentuk_perusahaan">
					                <option value="0">-- BENTUK PERUSAHAAN --</option>
					                <option value="PT/NV">PT/NV</option>
					                <option value="CV">CV</option>
					                <option value="Firma">Firma</option>
					                <option value="Lain-lain">Lain-lain</option>
					            </select>
				            </div>
				        </div>	
				        <div class="form-group batas-bawah">
				        	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Alamat</div>
				            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
				                <input class="form-control input-sm" placeholder="Alamat Perusahaan" id="alamat_perusahaan" name="alamat_perusahaan" maxlength="5000">
				            </div>
				        </div>
				        <div class="form-group batas-bawah">
				            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Pimpinan</div>
				            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
				            	<input type="text" class="form-control input-sm" value="" 
				                    placeholder="Pimpinan Perusahaan" id="pimp_perusahaan" name="pimp_perusahaan" maxlength="200">
				            </div>
				            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">NPWP</div>
				            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-4">
				            	<input type="text" class="form-control input-sm" value="" 
				                    placeholder="NPWP Perusahaan" id="npwp_perusahaan" name="npwp_perusahaan"
				                    data-inputmask="'mask': '99.999.999.9-999.999'" maxlength="20">
				            </div>
				        </div>
				        <div class="form-group batas-bawah">
				        	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Nama bank</div>
				            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
				            	<input type="text" class="form-control input-sm" value="" 
				                    placeholder="Bank Perusahaan" id="bank_perusahaan" name="bank_perusahaan" maxlength="200">
				            </div>
				            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">No. Rekening</div>
				            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-4">
				            	<input type="text" class="form-control input-sm" value="" 
				                    placeholder="Nomor Rekening" id="norek_perusahaan" name="norek_perusahaan" maxlength="200">
				            </div>
				        </div>    
				        <div class="form-group batas-bawah">
				        	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">No. Kontrak</div>
				            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
				            	<input type="text" class="form-control input-sm" value="" 
				                    placeholder="Nomor Kontrak" id="nomor_kontrak" name="nomor_kontrak" maxlength="200">
				            </div>

				            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Pemilik Rekening</div>
				            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
				            	<input type="text" class="form-control input-sm" placeholder="Nama Pemilik Rekening"
				            		id="nama_rekening_bank_perusahaan" name="nama_rekening_bank_perusahaan" maxlength="200">
				            </div>
				        </div>    	
				        <div class="form-group batas-bawah">
				         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 batas-atas">Keg. Lanjutan</div>
				            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-4">
				            	<div class="radio">
	                                <label style="padding-right:20px;">
	                                    <input type="radio" checked="" value="Y" 
	                                    	id="keg_lanjutan1" name="keg_lanjutan">Ya
	                                </label>
	                                <label>
	                                    <input type="radio" checked="" value="T" 
	                                    	id="keg_lanjutan2" name="keg_lanjutan">Bukan
	                                </label>
	                            </div>
				            </div>
				        </div>
		            </div>
			   		</div> -->

		            <div class="judul_tabel hidden" hidden>Dasar SPD</div>
		            <div id="tabel_spd" class="hidden" hidden></div>
		            <div class="adah-tabel hidden" id="spd_kosong" hidden>
		            	<table id='dataspd' class='display responsive nowrap hidden' cellspacing='0' width='100%' hidden>
							<thead>
								<tr>
									<th>Nomor SPD</th>
									<th>Tanggal SPD</th>
									<th>Nominal</th>
								</tr>
							</thead>
							<tbody>													
							</tbody>
							<tfoot>
								<tr>
									<th>&nbsp;</th>
									<th style="font-weight: bold;">Jumlah</th>
									<th style="font-weight: bold;">0,00</th>
								</tr>
							</tfoot>
						</table>
		            </div>


		        </div>       
	        </div>	        
		</div>
		<input id="url_ambilspp" type="hidden" style="display:none;" value="{% url 'sipkd:ambilspp' jenis='tu'%}">
		<input id="url_ambilspd" type="hidden" style="display:none;" value="{% url 'sipkd:ambilspd' %}">
		<input id="url_afektasi" type="hidden" style="display:none;" value="{% url 'sipkd:listafektasi' jenis='tu'%}">
		<input id="url_kegiatan" type="hidden" style="display:none;" value="{% url 'sipkd:ambilkegiatan' %}">
		<div id="tabel_spp_afektasi"></div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 batas-atas" style="padding-bottom: 6%;" id="spp_kosong">
			<table id='dataspp' class='display responsive nowrap' cellspacing='0' width='100%'>
				<thead>
					<tr>
						<th>Otorisasi</th>
						<th style="background-image:none;" width="2%">
							<input name="select_all" value="1" id="example-select-all" type="checkbox" />
						</th>
						<th width='25%'>Rekening</th>
						<th width='25%'>Kegiatan</th>
						<th width='25%'>Uraian</th>
						<th width='8.5%' class="sum">Anggaran</th>
						<th width='8.5%' class="sum">Batas SPP</th>
						<th width='8.5%' class="sum">SPP Lalu</th>
						<th width='8.5%' class="sum">SPP Sekarang</th>
						<th width='8.5%' class="sum">Jumlah SPP</th>
						<th width='8.5%' class="sum">Sisa Anggaran</th>
					</tr>
				</thead>
				<tbody>										
				</tbody>
				<tfoot>
					<tr>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th style="font-weight: bold;">Jumlah</th>
						<th style="font-weight: bold;">0,00</th>
						<th style="font-weight: bold;">0,00</th>
						<th style="font-weight: bold;">0,00</th>
						<th style="font-weight: bold;">0,00</th>
						<th style="font-weight: bold;">0,00</th>
						<th style="font-weight: bold;">0,00</th>
					</tr>
				</tfoot>
			</table>
			<table width='100%' style='font-weight: bold;' id="terbilang_kosong">
				<tr>
					<td width='10%'>Jumlah SPP</td>
					<td width='1%' align='center'>:</td>
					<td width='89%' id="total"><span>Rp. 0,00</span></td>
					<input type="hidden" name="total_spp" id="totalspp" value="">
				</tr>
				<tr>
					<td width='10%'>Terbilang</td>
					<td width='1%' align='center'>:</td>
					<td width='89%' id="total_terbilang"><span style='font-style: italic;'>Nol Rupiah</span></td>
				</tr>
			</table>
		</div>		
	</form>	
</div>
<script type='text/javascript'>
	var link_frm_lap = "{% url 'sipkd:loadlaporanspp' jenis='tu' %}";
	var tablekegiatan_multi = '';
	var table_data_afektasi_spp = '';
	var id_table = 1;

    $(document).ready(function () {
        var table = $('#dataspd').DataTable( {
			scrollY: 146,
			paging: false,
			searching: false,
			bInfo: false
		} );

		tablekegiatan_multi = $('#datakegiatan').DataTable( {
			scrollY: 130,
			paging: false,
			searching: false,
			bInfo: false,
			bSort: false
		} );
		table_data_afektasi_spp = $('#dataspp').DataTable( {
			scrollY: 350,
			paging: false,
			searching: false,
			bInfo: false,
			bSort: false
		} );		

		$('#tanggal_spp').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4",
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);

            // set dropdown triwulan
            getTriwulan('#tanggal_spp','#triwulan');
            // ambilAfektasi();
        });
        $('#tanggal_pelaksanaan').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4",
        }, function (start, end, label) {});

		document.getElementById('spp_kosong').style.display = "block";
		document.getElementById('terbilang_kosong').style.display = "block";
		document.getElementById('spd_kosong').style.display = "block";
		// org_skpd_change_spp($("#organisasi").val());  
       
        clearFormSPP_PPKD(this);
        // changeJns_pengadaan();

        $('#btn_tambah_kegiatan').click(function(event){
        	event.preventDefault();
        	LoadKegiatanSPP(this);
        })
    });
</script>
<script src="{% static 'js/modul/mohon_spptu.js' %}"></script>
{% endblock %}