<div style="padding-bottom:10px;">
	<div class="legenda_tbl">
		<span id="kode_rekening_src_pajak">Silahkan Pilih Kode / Nama Rekening</span>
	</div>
	<table id="tbl_src_rek_skpskr" class="display nowrap" cellspacing="0" width="100%">
		<thead>
			<tr>
	            <th width="10%">KODE REKENING</th>
	            <th width="50%">URAIAN</th>
	        </tr>
		</thead>
	</table>
	<div class="legen_bawah"><span style="font-size: 11px;">* klik 2 kali pada kolom tabel untuk mengambil data</span></div>
</div>
<style type="text/css">
	tbody tr:hover { cursor: pointer; }
	#kode_rekening_src_pajak { font-size: 12px;}
	tbody tr:hover { cursor: pointer; }
	#tbl_src_rek_skpskr { font-size: 12px; }
	.legenda_tbl { right:15; top:60; padding-bottom:10px; }
	.legen_bawah { padding-top:50px; }
	#tbl_src_rek_skpskr_processing { z-index: 10000000 !important; 
		background-color: #F0F0F0; color: #000; font-weight: bold; font-size: 18px;
		height: auto; vertical-align: center; padding-bottom: 20px; }
</style>

<script type="text/javascript">
	var tbl_src_rek_skpskr;

	$(document).ready(function(){
        tbl_src_rek_skpskr = $('#tbl_src_rek_skpskr').DataTable({
        	language: { "processing": "Sedang memproses, harap tunggu..." },
			"processing": true,
			"serverSide": true,
			"ajax": "{% url 'sipkd:skpskr_modal_rek_srvside' %}",
			fnDrawCallback: function () { clickRowHandler(); },
            bLengthChange: true, 
            scrollY:        242,
	        scrollX:        true,
	        scrollCollapse: true,
	        fixedHeader: true,
	        paging: true,
        });

        adjust_datatable();
    });
	
	function clickRowHandler(){
		var count = tbl_src_rek_skpskr.rows().data().length;
        var KODE, URAIAN;

        $('#tbl_src_rek_skpskr td').dblclick(function () {
        	if(count > 0){
        		var row = $(this).closest('tr'); 
				var $kode   = row.find('td:nth-child(1)');
				var $uraian = row.find('td:nth-child(2)');

				$.each($kode, function(){ KODE = $(this).text();}); 
				$.each($uraian, function(){ URAIAN = $(this).text();}); 

				document.getElementById('cut_kdrek_'+{{aidirow}}).value = KODE;
				$("#dataTable_rekening #uraipot_"+{{aidirow}}).html(URAIAN);
				addRow();	
        	}

        	$('#ReportModal').modal('hide');
        	$("#dataTable_rekening #jml_pot_"+{{aidirow}}).focus();
		});

		$("#tbl_src_rek_skpskr tr").click(function(){
			var tr = $(this).closest("tr");
            var kd = tr.find('td:nth-child(1)').text();
            var nm = tr.find('td:nth-child(2)').text();
			$("#kode_rekening_src_pajak").html(kd+" - "+nm);
            $('#tbl_src_rek_skpskr .selected').removeClass('selected');
            $(this).addClass('selected');
        });
	};

</script>