{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
<div class="header-konten"><span style="font-weight:bold;">Laporan Perubahan Ekuitas Anggaran Tahun {{tahun}} (N-1) PPKD</span></div>
<div class="isi-konten">
  <form action="" method="POST" id="myForm" name="myForm" autocomplete="off">
    {% csrf_token %}
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" style="margin-bottom:15px;">    
      <div class="form-group batas-bawah">
          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="padding-left: 10px;">
              <div class="input-group">
                    <span class="input-group-addon judul-addon"><b>Organisasi</b></span>
                    <input type="text" class="form-control input-sm" readonly="readonly" disabled="disabled" 
                        id="org_tampilkan" placeholder="-- Pilih Organisasi --" value="{{organisasi_ppkd}}">
                    <input type="hidden" class="hidden" id="organisasi" name="organisasi" 
                        value="{{kd_org_ppkd}}" alt="{{ur_org_ppkd}}" onChange="org_ppkd_change(this.value)">
                    {% if hakakses != 'ADMIN' and hakakses != 'VERIFIKASI' and hakakses != 'KABIDAKUNTANSI' and hakakses != 'AKUNTANSI' %}
                      <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
                    {% else %}
                      <span class="input-group-addon btn btn-primary" onclick="modal_searching(this,'list_org')"
                          alt="{% url 'sipkd:mdl_organisasi' %}" title="Cari Organisasi"><i class="fa fa-binoculars"></i>
                      </span>
                    {% endif %}
                    <input id="url_tabel_data_ppkd" type="hidden" style="display:none;" value="{% url 'sipkd:get_data_ppkd' 'datalpeppkd' %}">
                <!-- {{btn_organisasi_data_spjskpd|safe}}-->
                <input type="hidden" id="jenis_data_ppkd" value="datalpeppkd" name="jenis_data_ppkd">
              </div>
          </div>
        </div>
    </div>
    <div style="padding: 15px !important;">
        <div id="tabel-data-ppkd"></div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 batas-atas">
          <div class="input-group">              
            <span class="input-group-btn">
              <!-- <div id="btn_simpan_data_spjskpd" class="btn btn-primary btn-sm" title="Simpan Data">
                  <i class="fa fa-check"></i>&nbsp;&nbsp;Ambil L0 N -1
              </div> -->
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 batas-atas"></div>
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 batas-atas" style="text-align:center;">
          {{btn_simpan|safe}}
        </div>
    </div>
  </form>
</div>

<script type="text/javascript">
  var link_simpan_data_ppkd = "{% url 'sipkd:simpan_data_ppkd' 'datalpeppkd' %}"
  $(document).ready(function(){
    org_ppkd_change($("#organisasi").val());
  });
</script>
<script src="{% static 'js/akuntansi/data_ppkd.js' %}"></script>

{% endblock %}